vendor/
/python-sync-actions/data/
.idea/
.tmp
.phpunit.result.cache
/cc-test-reporter
/doc/examples/*/out/state.json
/doc/examples/*/out/tables/*
/build/logs
/tests/phpunit/data/*/out
/data/
# Python specific
/venv
/python-sync-actions/src/test.py
/python-sync-actions/data
__pycache__/
docker/keys/*
!docker/keys/genkeys.sh
!docker/keys/keys-to-config-json.py
